
.Iko {
    background-color:#ccc;
    color: #e67676;
    font-size: 40px;
    font-family: sans-serif;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Poszthozza {
    color: #005566;
    font-size: 22px;
    font-family: sans-serif;
}

.Bej {
    color: #005566;
    font-size: 18px;
    font-family: sans-serif;
}





